@use '../../styles/variables';
@use '../../styles/mixins';

.current_directory_actions {
    @include mixins.flexbox('space-between', 'center', 'row nowrap');
    width: 100%;
    height: 60px;
    padding: 0 1rem;
    background-color: variables.$actions-current-dir-bg-color;
}

.current_directory_actions_navigate {
    @include mixins.flexbox('center', 'center', 'row nowrap');
    column-gap: 15px;
}

.arrow_wrapper {
    @include mixins.flexbox('center', 'center', 'row nowrap');
    width: 30px;
    height: 30px;
    background: variables.$white;
    border-radius: 50%;
    cursor: pointer;
    
    &:hover {
        background-color: variables.$mid-grey;
    }
}

.current_directory_actions_buttons {
    @include mixins.flexbox('center', 'center', 'row nowrap');
    column-gap: 15px;
}

.submit_form {
    @include mixins.flexbox('center', 'center', 'column nowrap');
    width: 100%;
}

.form_control {
    @include mixins.flexbox('center', 'flex-start', 'column nowrap');
    margin: 0.8rem 0;
}

.form_control > label {
    font-size: variables.$font-size-bigger;
    line-height: variables.$line-height-bigger;
    font-weight: variables.$font-weight-bold;
    margin-bottom: 5px;
}