@use '../../styles/mixins';
@use '../../styles/variables';

.tree_view_item {
    @include mixins.flexbox('flex-start', 'center', 'row nowrap');
    column-gap: 10px;
    width: 100%;
    cursor: pointer;
    
    &:hover {
        color: #837f83;
    }
}

.tree_view_item_folder_name {
    font-size: variables.$font-size-bigger;
}

.tree_view_item_current_directory_indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: variables.$white;
}

.tree_view_item_arrow_img {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in;
}

.rotate_arrow {
    transform: rotate(-90deg);
}